.system-row {
  display:flex;
  align-items:center;
  gap:24px;
  padding:18px 0;
  border-bottom: 0px solid transparent;
}

.left {
  width:160px;
  padding-left:8px;
  color:#222;
}

.system-name {
  font-weight:500;
  color:#333;
}

.center {
  flex:1;
}

.right {
  width:200px;
  text-align:right;
  color:#333;
  font-size:13px;
  padding-right:8px;
}

.arc {
  font-weight:600;
  color:#2b0b3a;
}
