<div class="system-input">
  <!-- Eksisterende systems -->
  <mat-list>
    <mat-list-item *ngFor="let sys of systems; let i = index">
      {{ sys.name }} <span *ngIf="sys.version">({{ sys.version }})</span>
      <button mat-icon-button color="warn" (click)="removeSystem(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

  <!-- Tilføj nyt system -->
  <div class="input-row">
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>System name</mat-label>
      <input matInput [(ngModel)]="newSystemName" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Version (optional)</mat-label>
      <input matInput [(ngModel)]="newSystemVersion" />
    </mat-form-field>

    <button mat-icon-button color="primary" type="button" (click)="addSystem()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
