<app-navbar></app-navbar>
<div class="progress-layout">
  <div class="progress-container">
    <app-progress-header-component
    [title]="bundleName"
    ></app-progress-header-component>

    <div *ngIf="loading">Henter checklisten...</div>
    <div *ngIf="error">{{ error }}</div>

    <div class="checklist-layout" *ngIf="!loading && !error">
      <app-checklist-menu-component
        [checklists]="checklist"
        [selectedItem]="selectedChecklist"
        (itemSelected)="onMenuSelect($event)">
      </app-checklist-menu-component>

      <app-checklist-component
        class="checklist-details"
        *ngIf="selectedChecklist"
        [item]="selectedChecklist"
        (checklistUpdated)="onChecklistUpdated()">
      </app-checklist-component>
    </div>

    <app-action-buttons-component
      [bundleId]="bundleId"
      [bundleReleaseName]="bundleName"
      [userRole]="userRole">
    </app-action-buttons-component>
  </div>
</div>
