.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

form {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
