<app-navbar></app-navbar>

<div class="overview-header">
  <h1> {{ bundleName }} Progress </h1>
  <div *ngIf="userRole !== UserRole.Guest" class="button-group">
    <button (click)="onClickScopePage()" class="btn">Scope Page</button>
    <button (click)="onClickWatchListPage()" class="btn">Watchlist</button>
  </div>
</div>

<div *ngIf="loading">Henter checklisten...</div>
<div *ngIf="error">{{ error }}</div>

<ul *ngIf="!loading && !error">
  <li *ngFor="let step of checklist">
    {{ step }}
  </li>
</ul>
