.planned-bundle {
  padding: 26px 20px;
  margin-top: 8px;
}

.label-row .label {
  font-weight:600;
  color:#333;
  margin-bottom:10px;
  display:block;
  text-align:center;
  font-size:13px;
}

.bar-wrapper { padding-top:6px; }
